* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


@font-face {
    font-family: "wSans";
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);

}

body {

    background-color: rgba(221, 231, 229, 1);
    font-family: 'wSans';
    color: rgba(11, 91, 97, 1);
    font-weight: bold;
  

}

.foto {
    display: block;
    margin: 3em auto 2em;
    /*  width: 250px; */
    width: 65%;

    border-radius: 50%;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2), 8px 8px 22px rgba(0, 0, 0, 0.19);

}

.foto:hover {
    margin: 3.5em auto 1.5em;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.firstStar {

    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
   /*  width: 64px;
    height: 53px; */
    width: 3.5em;
    height: 3em;
    left: 75%;
    top: 3%;
    background: #17C9D4;
    z-index: -1;   
    transform: rotate(-10deg);
}

.secondStar {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
    width: 3.5em;
    height: 3em;
    left: 7%;
    top: 38%;
    background: #17C9D4;
    transform: rotate(-11.92deg);
    z-index: -1;
}

.thirdStar {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
   /*  width: 32px;
    height: 26px; */
    width: 2em;
    height: 1.5em;
    left: 5%;
    top: 45%;
    background: #17C9D4;
    transform: rotate(10deg);
    z-index: -1;

}

h1,
h2 {
    text-align: center;
}

.WebDev {
    color: rgba(18, 156, 165, 1);
    font-size: smaller;
}

.menu {
    margin-top: 2em;
    list-style-type: none;
}


.menu a {
    text-decoration: none;
    color: #DDE7E5;
    font-size: larger;
    font-weight: bold;
}


.menu li {
    background-color: #129CA5;
    color: white;
    margin-top: 0.1em;
   /*  margin: 0.1em 0; */
    /* padding: 10px 10px 10px 30px; */
    padding: 0.5em 1.5em;

}

.menu li:hover {
    background-color: rgba(11, 91, 97, 1);
    color: white;
}


.styleAbsch {
  padding: 1.5em 1.5em 0;
  margin-top: 1em;

}


/* #lebenslauf {
  
  padding: 1.5em 1.5em 0;
  margin-top: 1em;

} */

#lebenslauf div {
    margin-top: 1em;

}


#lebenslauf span {
    color: rgba(11, 91, 97, 1);
    /* margin-top: 10px; */
}

#lebenslauf a {
    text-decoration: none;
    color: #129CA5;
}

#lebenslauf div:last-of-type {
    margin: 1.5em auto 0;
    text-align: center;
}

#lebenslauf a:hover {
    color: white;
}

#lebenslauf p {
    color: grey;
}

/* portfolio */


#portfolio img {
    /*  width: 300px; */
    width: 100%;
    display: block;
    margin: 2em 0 2em;
    border-radius: 3%;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2), 8px 8px 22px rgba(0, 0, 0, 0.19);
}

#portfolio img:hover {
    margin: 2.5em 0 1.5em;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

#portfolio p {
    margin-bottom: 1em;
    text-align: center;
}

/* skills */

/* #skills {
    padding: 20px 30px 0 30px;
} */


.skillsCont {

    width: 100%;
    height: 10px;
    padding: 0;
    margin: 15px 20px 15px 0;
    border-radius: 5px;
    border: cadetblue 1px solid;

}

.skillsContHtm {

    width: 80%;
    height: 100%;
    border-radius: 5px;
    background-color: #17C9D4;
}

.skillsContCss {

    width: 75%;
    height: 100%;
    border-radius: 5px;
    background-color: #17C9D4;
}

.skillsContJav {

    width: 90%;
    height: 100%;
    border-radius: 5px;
    background-color: #17C9D4;
}

.skillsContRea {

    width: 70%;
    height: 100%;
    border-radius: 5px;
    background-color: #17C9D4;
}

.skillsContPhp {

    width: 95%;
    height: 100%;
    border-radius: 5px;
    background-color: #17C9D4;
}

.skillsContSym {

    width: 90%;
    height: 100%;
    border-radius: 5px;
    background-color: #17C9D4;
}



/* kontakt */

/* #kontakt {
   
    padding: 20px 30px;
} */

#kontakt h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}



#kontakt a {

    font-size: large;
    display: inline;
    margin: 20px 30px 20px;
    text-decoration: none;
    color: rgba(11, 91, 97, 1);


}

#kontakt i {
    font-size: xx-large;
    height: 30px;
    margin: 10px;
    text-decoration: none;
    color: #17C9D4;
    vertical-align: middle;

}

#kontakt div:hover {
    font-size: larger;

}

/* #kontakt a:hover {    
    font-size: larger;
}
#kontakt i:hover {    
    font-size: inherit;
} */